<div class="class">
  <mat-toolbar style="background-color: lightgray">
    <span>Manutenção de Usuário</span>
  </mat-toolbar>
  <nav>
    <ul id="main-menu">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/cad/list">Consultar</a></li>
      <li><a routerLink="/cad">Cadastrar Usuário</a></li>
    </ul>
    <section style="margin-top: 2rem;">
      <h2>Bem-vindo ao Sistema de Cadastro de Usuários</h2>
      <p>
        Nosso sistema permite o registro, consulta e gerenciamento eficiente de usuários. Com uma interface amigável e
        intuitiva, você pode cadastrar novos perfis, editar informações existentes e acompanhar os dados de forma segura
        e
        organizada. Ideal para aplicações que exigem controle de acesso ou gestão personalizada de usuários.
      </p>
    </section>
  </nav>
  <router-outlet></router-outlet>
</div>